

main > section:first-of-type video {
	width: 100%;
	height: 26vh;
	object-fit: cover;
	object-position: center;
	display: block;
}

main > section:nth-of-type(2) {
	padding: 1.5rem 1.5rem 3rem;
	max-width: 40rem;
	margin-inline: auto;
}

main > section:nth-of-type(2) h2 {
	text-align: center;
	font-size: 3.5rem;
	font-family: "H2", system-ui, sans-serif;
}

main > section:nth-of-type(2) p:first-of-type {
	max-width: 32rem;
	margin: 0 auto 4rem;
	line-height: 1.6;
	font-size: 1.1rem;
	text-align: center;
	display: block;
}

main > section:nth-of-type(2) ul {
	list-style: none;
	padding: 0;
	margin: 0 0 3rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	border-bottom: 3px solid #333;
	padding-bottom: 5rem;
}

main > section:nth-of-type(2) li article {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

main > section:nth-of-type(2) li img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
	border-radius: 4px;
}

main > section:nth-of-type(2) li h3 {
	font-size: 1.1rem;
	line-height: 1.3;
	margin: 0.5rem 0 0.25rem;
	text-align: left; 
}

main > section:nth-of-type(2) li p:last-of-type {
	margin: 0;
	font-size: 0.95rem;
	text-align: left; 
}

main > section:nth-of-type(2) li a {
	display: block;
	text-decoration: none;
	color: inherit;
}

main > section:nth-of-type(2) li a:visited {
	color: inherit;
	text-decoration: none;
}


main > section:nth-of-type(3) {
    padding: 3rem 1.5rem 3rem;
    max-width: 40rem;
    margin-inline: auto;
  }
  
  main > section:nth-of-type(3) article {
    margin-bottom: 3rem;
  }
  
  main > section:nth-of-type(3) article img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.5rem;
  }
  
  main > section:nth-of-type(3) article p:first-of-type {
    margin: 0 0 0.5rem;
    font-size: 0.95rem;
  }
  
  main > section:nth-of-type(3) article h3 {
    font-size: 2rem;
    margin: 0 0 2rem;
    font-weight: 700;
  }
  
  main > section:nth-of-type(3) article p:nth-of-type(n + 2) {
    margin: 0 0 1.5rem;
    line-height: 1.6;
  }
  
  main > section:nth-of-type(3) article address {
    font-style: normal;
    margin: 0;
    line-height: 1.6;
  }
  
  
  main > section:nth-of-type(3) article:last-of-type {
    background-color: #000;
    color: #fff;
    padding: 2rem 1.5rem;
    margin: 0 -1.5rem;         
    display: flex;
    flex-direction: column;
    gap: 1rem;                  
  }
  
  main > section:nth-of-type(3) article:last-of-type img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  
  main > section:nth-of-type(3) article:last-of-type h3 {
    margin: 1rem 0;
  }
  
  main > section:nth-of-type(3) article:last-of-type address {
    font-style: normal;
    line-height: 1.4;
  }
  
  main > section:nth-of-type(3) article:last-of-type .button {
    background-color: #fff;
    color: #000;
    padding: 0.9rem 2rem;
    width: fit-content;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  



main > section:nth-of-type(4) {
    background-color: #fff;
    padding: 5rem 1.5rem 2rem;
  }
  
 
  main > section:nth-of-type(4) ul {
    margin: 0;
    padding: 0;
    list-style: none;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    gap: 1.5rem;
    justify-items: center;
  }
  
  
  main > section:nth-of-type(4) li {
    padding: 1.5rem;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  main > section:nth-of-type(4) li img {
    display: block;
    max-width: 120px;
    width: 100%;
    height: auto;
  }
  
  main > section:nth-of-type(4) li:nth-of-type(n + 3) {
    display: none;
  }
  
  @media (min-width: 800px) {
    main > section:nth-of-type(4) ul {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  
    main > section:nth-of-type(4) li:nth-of-type(n + 3) {
      display: flex;  
    }
  }
  

main > section:nth-of-type(5) {
    padding: 3rem 1.5rem;    
    max-width: 40rem;
    margin-inline: auto;     
  }
  

main > section:nth-of-type(5) h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 2rem;
  }
  
  main > section:nth-of-type(5) img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    display: block;
    margin-bottom: 1.5rem;
  }
  
  main > section:nth-of-type(5) h3 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }
  
  main > section:nth-of-type(5) p {
    line-height: 1.6;
    font-size: 1rem;
  }
  
  main > section:nth-of-type(5) article a {
    display: inline-block;
    margin-bottom: 3rem;  
    padding: 0.7rem 1rem;
    border: 1.3px solid #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    width: fit-content;
}

  

  main > section:nth-of-type(5) > p {
    text-align: center;
    margin-top: 4rem;
  }
  